@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;

}



/* navbar */

.navbar {
    display: flex;
    height: 60px;
    width: 100%;

    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, .15);

    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, .2);

    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.head1 {
    font-size: 25px;
    margin-top: 5px;
    color: #ea6928;
}

.logo img {
    width: 80px;
    margin-left: 30px;

}

.menu {
    margin-right: 40px;
}

.link {
    padding-left: 40px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black
}

.link:hover {
    color: #ea6928;
}

#hamburger{
    color: white;
    display: none;
}

/* hero section */

.hero {
    width: 100%;
    height: 85%;
    background-image: url(images/hero2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headarea {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 150px;
    left: 180px;

}

.head2 {
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    line-height: 50px;
    color: #ea6928;
}

.head3 {
    font-size: 90px;
    line-height: 85px;
    color: #2b6667;

}

.head4 {
    font-size: 90px;
    line-height: 90px;
    color: #ea6928;
}

.flex {
    display: flex;
}

.child {
    margin-top: 30px;
}

.head5 {
    padding-left: 20px;
    line-height: 25px;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
}

.textarea {
    margin-top: 20px;
    width: 400px;
    font-weight: 500;
}

.explore {
    text-decoration: none;
    font-size: 10px;
}

.btn1 {
    width: 240px;
    height: 40px;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color: #ea6928;
    font-weight: bold;
    border: 1px solid black;
}

.btn1:hover {

    transform: translateY(-3px);

    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}

/* main section */

.main {
    width: 100%;
    height: 1950px;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.detail {
    justify-content: space-around;
    display: flex;
}

.about {
    position: relative;
    width: 400px;
    left: 35px;
    top: 55px;
    scroll-margin-top: 100px;
}

.head6 {
    color: #ea6928;
}

.head7 {
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 25px;

}

.more {
    text-decoration: none;
}

.btn2 {
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color: #2b6667;
    font-weight: bold;
    border: 1px solid black;
}

.btn2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

}


.aboutimg img {
    width: 600px;
    margin-top: 30px;

}

/* models */
.models {
    padding: 25px 8%;
    scroll-margin-top: 100px;

}

.models h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.swiper-slide {

    background: rgb(255, 255, 255);

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);

    transition: .4s;
}

.swiper-slide:hover {
    transform: translateY(-10px);
}

.swiper-slide img {

    width: 100%;

    height: 400px;

    object-fit: cover;

    transition: .5s;
}

.swiper-slide:hover img {
    transform: scale(1.1);
}

.swiper-slide h3 {

    padding: 20px;

    text-align: center;

    font-size: 1.2rem;
}

.swiper-button-next,
.swiper-button-prev {

    color: #ff7b29;

    font-weight: bold;
}

/* our team */

.team {

    padding: 70px 8%;
    background: #f5f5f5;
    scroll-margin-top: 30px;

}

.team h2 {

    text-align: center;

    font-size: 3rem;

    margin-bottom: 10px;
}

.team-subtitle {

    text-align: center;

    margin-bottom: 50px;

    color: #666;
}

.team .swiper-slide {



    background: rgb(255, 255, 255);

    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);

    padding-bottom: 5px;

    transition: .4s;
}

.team .swiper-slide:hover {

    transform: translateY(-10px);
}

.team .swiper-slide img {

    width: 100%;

    height: 320px;

    object-fit: cover;

    transition: .5s;
}

.team .swiper-slide:hover img {

    transform: scale(1.05);
}

.team .swiper-slide h3 {

    text-align: center;

    margin-top: 20px;

    font-size: 1.3rem;
}

.team .swiper-slide span {

    display: block;

    text-align: center;

    margin-top: 10px;

    color: #ff7b29;

    font-weight: 600;
}

/* footer */

.footercontainer {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 30px;
    background-image: url(images/footerbg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

.footer-logo {
    margin-left: 60px;
    margin-top: 60px;
}

.descrip {
    margin-top: 30px;
    color: white;
}

#ig {
    margin-top: 20px;
    font-size: 30px;
    color: black;
}

#ig:hover{
    color: pink;
}


.sign {
    display: flex;
}

.logo2 {
    width: 100px;
}

.footerhead {
    color: white;
    font-size: 30px;
}

.footer-links {
    margin-top: 60px;
    margin-left: 20px;

}

ul {
    list-style: none;
    text-decoration: none;
    margin-top: 30px;


}

ul li {

    margin: 20px 0;

}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: #ea6928;
}

.footer-contact {
    margin-top: 60px;

}

.footerhead2 {
    color: white;
    font-size: 30px;
}

.contacts {
    color: white;
    margin-top: 40px;
}

.contacts1 {
    color: white;
    margin-top: 20px;
}


.footer {
    width: 100%;
    height: 50px;
    background-color: #ea6928;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: white;
    padding-left: 40px;

}

.copyright1 {
    color: white;
    padding-right: 40px;

}

/* media query */

@media (max-width:1180px){
     .hero {
    width: 100%;
    height: 85%;
    background-image: url(images/hero2.png);
    background-repeat: no-repeat;
    background-size: 1200px 650px;
    background-position:center;
}
}

@media (max-width:1099px){
     .hero {
    width: 100%;
    height: 85%;
    background-image: url(images/hero2.png);
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    background-position: top center;
     }
.headarea {
    height: 400px;
    width: 600px;
    position: absolute;
    top: 150px;
    left: 135px;

}

.head2 {
    font-size: 43px;
    line-height: 50px;
   
}

.head3 {
    font-size: 80px;
    line-height: 75px;
}

.head4 {
    font-size: 80px;
    line-height: 80px;
}

.head5 {
    padding-left: 10px;
    line-height: 20px;
    font-size: 18px;
}

.textarea {
    margin-top: 10px;
    font-weight: 400;
}

.btn1 {
    width: 220px;
    height: 35px;
    font-size: 15px;
    margin-top: 20px;
}


}

@media (max-width:1024px){

    .hero {
    width: 100%;
    height: 85%;
    background-image: url(images/hero2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:top center;
}

.menu{
    display: none;
}

#hamburger{
    color: white;
    display: block;
    margin-right:20px ;
    font-size: 22px;
}


.headarea {
    height: 350px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 100px;

}

.head2 {
    font-size: 28px;
    line-height: 30px;
   
}

.head3 {
    font-size: 50px;
    line-height: 40px;
}

.head4 {
    font-size: 50px;
    line-height: 50px;
}

.child {
    margin-top: 14px;
}

.head5 {
    padding-left: 5px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 500;
}

.textarea {
    margin-top: 8px;
    font-weight: 300;
    width: 300px;
    font-size: 15px;
    line-height: 20px;
}

.btn1 {
    width: 180px;
    height: 28px;
    font-size: 13px;
    margin-top: 20px;
}

}

@media (max-width:768px){

    .hero {
    width: 100%;
    height: 85%;
    background-image: url(images/hero2.png);
    background-repeat: no-repeat;
    background-size: contain 400px ;
    background-position:top center;
}

.navbar {
    height: 35px; 
}

.head1 {
    font-size: 18px;
    margin-top: 5px;
    color: #ea6928;
}

.logo img {
    width: 50px;
    margin-left: 20px;

}

.menu{
    display: none;
}

#hamburger{
    color: white;
    display: block;
    margin-right:20px ;
    font-size: 20px;  
}


.headarea {
    height: 350px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 100px;

}

.head2 {
    font-size: 28px;
    line-height: 30px;
   
}

.head3 {
    font-size: 50px;
    line-height: 40px;
}

.head4 {
    font-size: 50px;
    line-height: 50px;
}

.child {
    margin-top: 14px;
}

.head5 {
    padding-left: 5px;
    line-height: 15px;
    font-size: 14px;
    font-weight: 500;
}

.textarea {
    margin-top: 8px;
    font-weight: 300;
    width: 300px;
    font-size: 15px;
    line-height: 20px;
}

.btn1 {
    width: 180px;
    height: 28px;
    font-size: 13px;
    margin-top: 20px;
}

}