@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
}

/* navbar */

.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    position:fixed;
    top:0;
    background:rgba(255,255,255,.15);

    backdrop-filter:blur(10px);

    border-bottom:1px solid rgba(255,255,255,.2);

    z-index:1000;
}

.logo{
    display: flex;
    align-items: center;
}

.head1{
    font-size: 25px;
    margin-top: 5px;
    color: #ea6928; 
}

.logo img{
    width: 80px;
    margin-left: 30px;
    
}

.menu{
    margin-right: 40px;
}

.link{
    padding-left: 40px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black
}

.link:hover{
    color: #ea6928;
}

/* hero section */

.hero{
    width: 100%;
    height: 85%;
    background-image: url(images/hero1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headarea{
    height: 400px;
    width: 600px;
    position:absolute ;
    top: 150px;
    left: 180px;
    
}

.head2{
   font-family: "Dancing Script", cursive;
   font-size: 50px;
   line-height: 50px;
   color: #ea6928; 
}

.head3{
    font-size: 90px;
    line-height: 85px;
    color: #2b6667;
    
}

.head4{
    font-size: 90px;
    line-height: 90px;
    color: #ea6928;    
}

.flex{
    display: flex;
}

.child{
    margin-top: 30px;
}

.head5{
    padding-left: 20px;
    line-height: 25px;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 500;
}

.textarea{
    margin-top: 20px;
    width: 400px;
    font-weight: 500;
}

.explore{
    text-decoration: none;
    font-size: 10px;
}

.btn1{
    width: 240px;
    height: 40px;
    font-size: 17px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color:#ea6928 ;
    font-weight: bold;
    border: 1px solid black;
}

.btn1:hover{

transform:translateY(-3px);

box-shadow:0 10px 20px rgba(0,0,0,.2);

}

/* main section */

.main{
    width: 100%;
    height: 1750px;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.detail{
    justify-content: space-around;
    display: flex;
}

.about{
    position: relative;
    width: 400px;
    left: 35px;
    top: 55px;
}

.head6{
    color: #ea6928;
}

.head7{
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 25px;

}

.more{
    text-decoration: none;
}

.btn2{
    width: 150px;
    height: 35px;
    font-size: 15px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    background-color:#2b6667 ;
    font-weight: bold;
    border: 1px solid black;
}

.btn2:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);

}


.aboutimg img{
    width: 600px;
    margin-top: 30px;
    
}

/* models */
.models{
padding:25px 8%;
}

.models h2{
text-align:center;
font-size:2.5rem;
margin-bottom:50px;
}

.swiper-slide{

background:rgb(255, 255, 255);

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.1);

transition:.4s;
}

.swiper-slide:hover{
transform:translateY(-10px);
}

.swiper-slide img{

width:100%;

height:400px;

object-fit:cover;

transition:.5s;
}

.swiper-slide:hover img{
transform:scale(1.1);
}

.swiper-slide h3{

padding:20px;

text-align:center;

font-size:1.2rem;
}

.swiper-button-next,
.swiper-button-prev{

color:#ff7b29;

font-weight:bold;
}